*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root
{
    /* --background: #313131; */
    --background: #F16529;
    --background-1: #f1f1f1;
    --text-white:#fff;
    --text-dark: #000;
    --font-size: 16px;
    --font-family: ;
}

html
{
    height: 100%;
}

body
{
    /* background: var(--background); */
    /* background: #1D1C1C; */
    /* color: var(--text-white); */
    font-size: var(--font-size);
}

.display-none-force
{
    display: none !important;
}

.loader
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--background);
    z-index: 1000;
}

.loader .logo
{
    max-height: 350px;
    margin-bottom: 10px;
}

.loader .logo img 
{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.loader .text
{
    font-weight: bold;
    font-size: calc(100% + 1rem);
    letter-spacing: 4px;
}

.container
{
    display: flex;
    height: calc(100vh);
    overflow: hidden;
    /* border: red solid 2px; */
}

.container .left
{
    width: 30%;
    height: 100%;
    padding: 0.3rem;
    transition: 1s top ease-in-out;
}

.container .left .heading
{
    height: 200px;
}

.container .left .title
{
    background: var(--background);
    color: var(--text-white);
    font-weight: 600;
    padding: 0.7rem;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.container .left .subtitle
{
    line-height: 22px;
    font-size: calc(100% - 3px);
    /* border: red solid 2px; */
}

.container .left .body
{
    /* border: 2px solid rgb(0, 255, 51); */
    height: calc(100% - 200px);
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 13.5px;
}

.container .left .body .body
{
    height: calc(100% - 80px);
    overflow-y: auto;
    overflow-x: hidden;
}

.container .left .body .body ul,
.container .left .body .body ol
{
    margin-left: 30px;
}

.container .left .body .body ul li,
.container .left .body .body ol li
{
    padding: 1rem;
    margin: 7px 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.container .right
{
    width: 100%;
    height: calc(100%);
    border-inline-start: grey solid 1px;
    /* border-inline-start: red solid 2px; */
    position: relative;
    
    /* display: flex; */
    /* padding-top: 50px; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* text-align: center; */
    overflow-y: auto;
    /* text-align: left; */
}

.container .right .banner
{
    width: 100%;
    /* display: flex; */
    padding: 0.7rem;
    margin-bottom: 20px;
}

.container .right .banner .image
{
    /* width: 40%; */
    /* border: red solid 2px; */
    width: max-content;
    max-width: 100%;
    height: 300px;
}



.container .right .image img
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.container .right .title
{
    padding: 1rem;
    font-weight: bold;
    font-size: 20px;
    padding-left: 0;
    text-transform: capitalize;
}

.container .right .description
{
    /* width: 80%; */
    margin: 0 3px;
    /* border: red solid 2px; */
    font-size: 15px;
    line-height: 22px;
}

.container .right .function-details
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background : rgb(0, 0, 0, 0.8);
    color: var(--text-white);
}

.container .right .function-details .heading,
.container .right .function-details .footer
{
    height: 70px;
}

.container .right .function-details .heading
{
    display: flex;
}

.container .right .function-details .heading .title
{
    width: 100%;
    height: 100%;
    margin-right: 10px;
    font-size: 14px;
    text-align: left;
}

.container .right .function-details .heading .close
{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.container .right .function-details .body
{
    height: calc(100% - 140px);
    text-align: left;
    padding: 1rem;
}

.container .right .function-details .body .title
{
    padding: 0;
    margin: 5px 0;
    margin-top: 30px;
    text-transform: capitalize;
}


.container .right .function-details .body .code-preview .clipboard
{
    text-align: right;
}

.container .right .function-details .body .code-preview .clipboard-button
{
    padding: 0.5rem;
    background : #000;
    display: inline-block;
    margin: 5px 0;
    text-transform: capitalize;
    margin-left: 0;
}

.container .right .function-details .body .code-preview textarea
{
    width: 100%;
    height: 200px;
    resize: none;
    outline: none;
    padding: 1rem;
    background: #dedede;
}

.responsive-menu
{
    position: absolute;
    height: 90px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: 100;
    background: var(--background);
    display: none;
}

.responsive-menu .logo
{
    text-decoration: none;
    color: var(--text-white);
    font-weight: bold;
    width: max-content;
    overflow: hidden;
    margin-right: 10px;
    /* border: red solid 2px; */
}

.success
{
    background: green !important;
    color: #fff !important;
}

footer
{
    background: rgb(87, 87, 87);
    width: 100%;
    padding: 1rem;
    color: var(--text-white);
    text-align: center;
}

.footer-icons
{
    display: flex;
    margin-top: 10px;
    padding: 1rem;
    width: max-content;
    margin: 0 auto;
}

.footer-icons .footer-icon
{
    width: 35px;
    height: 35px;
    border: var(--text-white) solid 1px;
    color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 5px;
}

.footer-icons .footer-icon:hover
{
    background: var(--text-white);
    color: var(--background);
}

.footer-icons .footer-icon img
{
    width: 60%;
    height: 60%;
    object-fit: contain;
    border-radius: 50%;
}

.footer-icons .footer-icon svg
{
    width: 60%;
    height: 60%;
    object-fit: contain;  
    fill: currentColor !important;
}

.footer-icons .footer-icon svg path
{
    fill: currentColor !important;
}

@media screen and (max-width: 1000px) {
    
    .container
    {
        width: 100%;
        flex-direction: column;
        overflow-y: auto;
    }

    .container .right
    {
        /* height: calc(100% - 90px); */
        height: 100vh;
        margin-top: 90px;
        /* overflow-y: hidden; */
    }

    .container .left
    {
        position: absolute;
        z-index: 50;
        width: 99%;
        height: calc(99% - 90px);
        background: var(--background-1);
        top: -100vh;
    }

    .container .left.active 
    {
        top: 90px;
    }

    .function-details
    {
        height: calc(100% - 90px);
        overflow-y: auto;
    }

    .responsive-menu
    {
        display: flex;
        width: 100%;
    }


}

/* PROJECTS SECTION */

.projects
{
    text-align: left;
    border-bottom: 1px solid var(--text-dark);
    padding: 0.5rem;
    margin-bottom: 20px;
}

.projects .title
{
    border-bottom: 1px solid var(--text-dark);
    margin-bottom: 20px;
}

.contents
{
    display: flex;
    flex-wrap: wrap;
}

/* CARDS */
.card 
{
    width: 47%;
    margin-right: 15px;
    margin-bottom: 20px;
    /* border: red solid 2px; */
}

.card .card-image
{
    height: 200px;
    border: 1px solid var(--text-dark);
    margin-bottom: 10px;
}

.card .card-image img
{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.card .card-contents
{}

.card .card-contents .links
{
    margin-top: 10px;
    display: flex;
    justify-content: right;
}

.card .card-contents .links .link
{
    text-decoration: none;
    padding: 0.7rem;
    margin: 0 5px;
    background: var(--background);
    color: var(--text-white);
    opacity: 0.9;
    display: flex;
    font-size: 12px;
}

.card .card-contents .links .link:hover
{
    opacity: 1;
}

.card .card-contents .links .link .icon
{
    margin-right: 10px;
}

@media screen and (max-width: 1000px) {

    .contents
    {
        flex-direction: column;
    }

    .contents .card
    {
        width: 95%;
    }

    .contents .card .card-image
    {
        height: 300px;
    }

}